@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
    align-items: center;
    font-family: 'Roboto', 'Noto', sans-serif;
}

header {
    /* margin-bottom: 20%; */
    box-shadow: 0 0 10px;
    width: 100vw;
    text-align: center;
    padding: 2% 0;
}

form {
    /* border: 1px solid; */
    display: flex;
    width: 60vw;
    height: 30vh;
    justify-content: space-between;
}

form .group {
    border: 1px solid;
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lang {
    margin: 0 7%;
}

.buttons {
    border: 1px solid;
    width: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: none;
    border-right: none;
}

.left-side , .right-side {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn, .btns {
    cursor: pointer;
    border: 1px solid;
    text-align: center;
    font-size: 13px;
    padding: 1.5px 6px;
}
